{
    "presets": [
        "es2015",
        "react",
        "stage-0",
    ],
    "env": {
        "production": {
            "plugins": [
                [
                    "import",
                    [
                        {
                            "libraryName": "antd",
                            "libraryDirectory": "lib",
                            "style": false
                        }
                    ]
                ],
            ],
        },
        "development": {
            "plugins": [
                [
                    "import",
                    [
                        {
                            "libraryName": "antd",
                            "libraryDirectory": "lib",
                            "style": "css"
                        }
                    ]
                ],
            ],
        }
    }
}
